/*
* -------------------------------
* Ghost V1.0.0
* Kaycee Ingram - <kazewaze>
* www.GitHub.com/kazewaze/Ghost
* Free to use - MIT License.
* 12/24/2021
* -------------------------------
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

/* Ghost's System Defaults
* ------------------------------------------------
* Most vars aren't used to keep things
* simple but provided for convenience.
* Only font-sizing and letter-spacing are used.
* The boo.css file serves as a backup for older
* browsers that don't work with calc/vars.
* Always include them in the following order:
* <link rel="stylesheet" href="./legacy-browsers.css">
* <link rel="stylesheet" href="./ghost.css">
* <link rel="stylesheet" href="./your-styles.css">
* ------------------------------------------------
*/

:root {
  --ghost-min-width: 324px;
  --ghost-max-width: 1024px;
  --ghost-font-selections: "Readex Pro", "Inter", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ghost-font-sizing: calc(18px + 6.75 * ((100vw - 324px) / 700));
  --ghost-letter-spacing: 0.0625em;
  --ghost-color: #000;
  --ghost-background: #fff;
}

*, ::before, ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

::selection {
  color: #fff;
  background: #000; /* WebKit/Blink Browsers */
}

::-webkit-selection {
  color: #fff;
  background: #000;
}

::-moz-selection {
  color: #fff;
  background: #000; /* Gecko Browsers */
}

#root {
  isolation: isolate;
}

html, body {
  height: 100%;
}

html {
  font-family: sans-serif;
  font-size: calc(100% + 2px);
  line-height: calc(1.125em + 0.625rem);
  letter-spacing: var(--ghost-letter-spacing);
  text-transform: none;
  text-shadow: none !important;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: "Readex Pro", "Inter", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

@media screen and (min-width: 324px) {
  html { font-size: var(--ghost-font-sizing); }
}

@media screen and (min-width: 1024px) {
  html { font-size: 24px; }
}

h1 { font-size: 4rem; line-height: .850; }
h2 { font-size: 3.50rem; line-height: .850; }
h3 { font-size: 3rem; line-height: .900; }
h4 { font-size: 2.5rem; line-height: .900; }
h5 { font-size: 2rem; line-height: .950; }
h6 { font-size: 1.50rem; line-height: .950; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body label { font-weight: 500; }

main, section { min-height: 100%; }

img,
picture,
video,
canvas,
svg,
article,
aside,
figure,
footer,
header,
aside,
main {
  display: block;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

ol, ul { list-style-type: none; }

a, li {
  text-decoration: none;
}

a,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

a,
button,
input,
textarea,
label,
select,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::file-selector-button,
input:is([type="button"], [type="submit"], [type="reset"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  white-space: normal;
  font: inherit;
  font-weight: 600;
  color: #000;
}

input:is([type="button"], [type="submit"], [type="reset"]), input[type="file"]::file-selector-button, button {
  align-items: center;
}

a {
  display: inline;
  border-bottom: calc(var(--ghost-font-sizing)/6) solid #000;
  color: #000;
  background: transparent;
}

a:hover {
  border-bottom: none;
  color: #fff;
  background-color: #000;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input:is([type="button"], [type="submit"], [type="reset"]) {
  display: block;
  text-align: center;
  padding: .0625rem .5000rem;
  border: 3px solid #000;
  border-radius: 3px;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
}

button:hover,
button:focus,
button:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="email"]:active,
input[type="number"]:active,
input[type="search"]:active,
input[type="text"]:active,
input[type="tel"]:active,
input[type="url"]:active,
input[type="password"]:active { outline: 1.5px solid #000; }

button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  color: #000;
  background-color: #fff;
}

select,
textarea,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  height: calc(var(--ghost-font-sizing)*2);
  padding: 6px 10px;
  box-sizing: border-box;
  box-shadow: none;
  border: 3px solid #000;
  border-radius: 3px;
  background-color: #fff;
}

select:focus,
select:active,
textarea:focus,
textarea:active,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="email"]:active,
input[type="number"]:active,
input[type="search"]:active,
input[type="text"]:active,
input[type="tel"]:active,
input[type="url"]:active,
input[type="password"]:active {
  outline: 1.5px solid #000;
}

input[type="radio"] {
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
  background-color: initial;
  cursor: default;
}

form {
  font-weight: 500;
}

summary {
  display: list-item;
}