/*
* Your styles go here to build on Ghost.
* Example styling below to get ya started:
*/

/*
  Fluid Scaling No longer included in Ghost due to possible issues.
  Added to user-styles for live example site simplicity.
*/

:root {
  --main-color: #ffffff;
  --main-bg: #000000;

  --link-color: #ffffff;
  --link-interaction-color: #d8d8d8;

  --header-height: 70px;
  --footer-height: 87.5px;
  --margin-calc-value: 120px;
}

main {
  margin: calc(var(--ghost-font-sizing) + var(--margin-calc-value)) calc(var(--ghost-font-sizing)/4.25) calc(var(--ghost-font-sizing) + var(--margin-calc-value)) calc(var(--ghost-font-sizing)/4.25);
}

main * {
  margin: var(--ghost-font-sizing) calc(var(--ghost-font-sizing)/4.25) calc(var(--ghost-font-sizing)*2.25) calc(var(--ghost-font-sizing)/4.25);
}

@media screen and (min-width: 324px) {
  main {
    margin: calc(var(--ghost-font-sizing) + var(--margin-calc-value)) calc(var(--ghost-font-sizing)/4.25) calc(var(--ghost-font-sizing) + var(--margin-calc-value)) calc(var(--ghost-font-sizing)/4.25);
  }

  main * {
    margin: var(--ghost-font-sizing) calc(var(--ghost-font-sizing)/4.25) calc(var(--ghost-font-sizing)*2.25) calc(var(--ghost-font-sizing)/4.25);
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1024px;
  flex: 1 0 auto;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: var(--header-height);
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  background-color: var(--main-bg);
  z-index: 1001;
}

.header__logo-link {
  border: none;
  color: none;
  background: transparent;
}

/*
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav > ul > li > a {
  margin-left: 14px;
  color: #fff;
}
*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.hero p {
  text-align: center;
  margin-top: 0;
}

.hero_logo {
  margin: 0;
  padding: 100px 0 160px 0;
  font-size: 6rem;
  font-weight: 800;
  font-family: 'Fira Sans', "Inter", "Readex Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', "Inter", "Readex Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg);
}

.footer__gh-link {
  padding: 7px;
  border: none;
  font-size: 1.50rem;
  font-weight: 900;
  line-height: .950;
  color: var(--link-color);
}

.footer__gh-link:active,
.footer__gh-link:hover,
.footer__gh-link:focus,
.footer__gh-link:focus-within {
  color: var(--link-interaction-color);
}